#gridPanel{
    width: 480px;
    height: 480px;
    margin: 0px auto;
    background-color: #bbada0;
    border-radius: 10px;
    position: relative;
}
.grid,.cell{
    width: 100px;
    height: 100px;
    border-radius: 6px;
}
.cell{
    position: absolute;
    font-size: 60px;
    text-align: center;
    line-height: 100px;
    color: #fff;
}
/*第一行所有格：top：16px*/
div[id^='c0']{
    top: 16px;

}
/*第二行所有格：top：132px*/
div[id^='c1']{
    top: 132px;

}
/*第三行所有格：top：248px*/
div[id^='c2']{
    top: 248px;

}
/*第四行所有格：top：364px*/
div[id^='c3']{
    top: 364px;

}
div[id^='c4']{
    top: 480px;

}
div[id^='c5']{
    top: 596px;

}
/*第一列所有格：top：16px*/
div[id$='0']{
    left: 16px;
}
/*第二列所有格：top：132px*/
div[id$='1']{
    left: 132px;
}
/*第三列所有格：top：248px*/
div[id$='2']{
    left: 248px;
}
/*第四列所有格：top：364px*/
div[id$='3']{
    left: 364px;
}
div[id$='4']{
    left: 480px;
}
div[id$='5']{
    left: 596px;
}
.grid{
    background-color: #ccc0b3;
    float: left;
    margin: 16px 0 0 16px;
}

/*得分样式*/
p{
    width: 480px;
    margin: 0 auto;
    padding-top: 15px;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial;
    white-space: normal;
}
#gameOver{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
#gameOver>div{
    width: 100%;
    height: 100%;
    background-color: #555;
    opacity: 0.5;
}
#gameOver>p{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 50%;
    left: 50%;
    margin-top: -100px ;
    margin-left: -150px ;
    background-color: #fff;
    border-radius: 5px;
    text-align: center;
    border: 1px solid #edcf72;
    line-height: 1.5em;
}
#gameOver .btn{
    padding: 10px;
    color: #fff;
    background-color: #9f8d77;
    border-radius: 10px;
    text-decoration: none;
}
/*复制colors.txt的内容到此*/
.n2{background-color:#eee3da}
.n4{background-color:#ede0c8}
.n8{background-color:#f2b179}
.n16{background-color:#f59563}
.n32{background-color:#f67c5f}
.n64{background-color:#f65e3b}
.n128{background-color:#edcf72}
.n256{background-color:#edcc61}
.n512{background-color:#9c0}
.n1024{background-color:#33b5e5}
.n2048{background-color:#09c}
.n4096{background-color:#a6c}
.n8192{background-color:#93c}
.n2,.n4{color:#776e65}
.n1024,.n2048,.n4096,.n8192{font-size:40px}